@model TheFoody.Models.MailModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>@ViewBag.Title - Foodie App</title>

    <!-- CSS Plugins -->
    <link rel="stylesheet" type="text/css" href="/Content/bootstrap.min.css" media="screen">
    <link href="/Content/animate.css" rel="stylesheet">
    <link href="/Content/main.css" rel="stylesheet">
    <link href="/Content/component.css" rel="stylesheet">

    <!-- CSS Font Icons -->
    <link rel="stylesheet" href="/icons/linearicons/style.css">
    <link rel="stylesheet" href="/icons/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/icons/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/icons/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="/icons/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="/icons/rivolicons/style.css">
    <link rel="stylesheet" href="/icons/flaticon-line-icon-set/flaticon-line-icon-set.css">
    <link rel="stylesheet" href="/icons/flaticon-streamline-outline/flaticon-streamline-outline.css">
    <link rel="stylesheet" href="/icons/flaticon-thick-icons/flaticon-thick.css">
    <link rel="stylesheet" href="/icons/flaticon-ventures/flaticon-ventures.css">

    <link href="/Scripts/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="/Scripts/plugins/datepicker/datepicker.css" rel="stylesheet">

    <!-- CSS Custom -->
    <link href="/Content/style.css" rel="stylesheet">
    <link href="/Content/order-online.css" rel="stylesheet" type="text/css">

</head>

<body class="not-transparent-header">

    <!-- start Container Wrapper -->
    <div class="container-wrapper">

        <table style="background-color:#1a1a1a">

            <tr><td><img id="logo" src="http://teciobiz.com/tf/food/thefoodyv35/images/logo.png" alt="Logo" /></td></tr>

            <tr>
                <td style="color: white;">
                    @Html.DisplayFor(model => model.Body)
                </td>
            </tr>

            <tr>
                <td></td>
            </tr>
            <tr><td style="color: white;">&#169; Copyright 2016 iGlyphic</td></tr>

        </table>

    </div> <!-- / .wrapper -->
    <!-- end Container Wrapper -->
</body>
</html>
