<div class="order-information row">
    <div class="col-md-6">
        <h4 class="section-title pb-10">Order information</h4>
        <ul class="list-unstyled info-list">
            <li>
                <input class="custom-radio-big" type="radio" name="collection" id="collection" checked>
                <label for="collection">Collection</label>
            </li>
            
        </ul>
    </div>
    <div class="col-md-6">
        <h4 class="section-title pb-10 mb-15">Special Request</h4>
        <textarea class="special-request" name="special-request" id="special-request"></textarea>
    </div>
</div>
<div class="row order-payment-method">
    <div class="col-md-12">
        <h4 class="section-title pb-10">Payment Options</h4>
        <ul class="list-inline payment-method-options">
            <li>
                <input class="custom-radio-big" type="radio" name="payment-option" id="method-cash">
                <label for="method-cash">Cash</label>
            </li>
            <li>
                <input class="custom-radio-big" type="radio" name="payment-option" id="method-paypal">
                <label for="method-paypal">Paypal</label>
            </li>
            <li>
                <input class="custom-radio-big" type="radio" name="payment-option" id="method-netpay">
                <label for="method-netpay">Netpay</label>
            </li>
        </ul>
    </div>
    <div class="col-md-12 payment-method-logos">
        <ul class="list-inline">
            <li><img src="images/payment-logo/cash.png" alt="Cash"></li>
            <li><img src="images/payment-logo/paypal.png" alt=""></li>
            <li><img src="images/payment-logo/worldpay.png" alt=""></li>
            <li><img src="images/payment-logo/netpay.png" alt=""></li>
            <li><img src="images/payment-logo/sagepay.png" alt=""></li>
        </ul>
    </div>
</div>


